/* Show a 'hand' mouse pointer on clickable rows */
table.clickable-rows tr:hover {
    cursor: pointer;
    background: rgba(176, 191, 175, 0.13);
}

.table-nonfluid {
    width: auto !important;
}

.burger-menu{
    display: none !important;
}

a {
    cursor: pointer;
}

.header-navbar {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 4%;
}

.header-area {
    padding: 0 !important;

}

.header-filler {
    height: 95px;
    background-color: #007bff;
    border-width: 15px 0 !important; /* Top-Bottom Left-Right */
    border: solid #7e7e7e;
}

.header-motto {
    padding: 30px !important;
    padding-right: 0 !important;
}

#logo {
    position: absolute !important;
    width: 360px;
    padding-top: 15px;
    padding-left: 35px;
}

.header-navbar div a {
    font-size: 1.5rem;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700 !important;
    font-style: normal;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
}

/*table rounded edges*/
table {
    border-collapse: separate !important;
    border-spacing: 0;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}
.bordered tr:hover {
    background: #ECECEC;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.bordered th {
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: linear-gradient(top, #F8F8F8, #ECECEC);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


.logo{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -9999;
}

#motto {
    font-family: "alkaline", sans-serif;
    font-weight: 700;
    color: #e32222;
    font-size: 4.5rem;
    text-align: center;
    line-height: 100px; /* Same as the height of the container */
}
.cash-container {
    width: 10rem !important;
}



.cash_img {
    width: 100%;
}
.first_column{

}
.form_container{
    background-image: url("../img/PALM BEACH_CAR 3.jpeg");
    /*height: 100%;*/
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 2rem 0 !important;

    border: solid #1a91c2;
    display: flex;
    align-items: stretch;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: space-between;
}

.form_box{
    background: #41aed3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-left: 50px !important;
    padding-right: 50px !important;
}/**/

.start_img{
    padding-top: 2%;
    width: 59%;
}

.form_row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form_label {
    font-size: 1.5rem;
    margin-left: 2%;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form_input {
    width: 500px;
    height: 60px;
    font-size: 2rem;
    border: none;
}

input[type="submit"] {
    border-radius: 50px;
    border: none;
    height: 55px;
    width: 225px;
    position: relative;
    top: 3%;
    background-color: #1258ad;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

/*.guideCustomer {
    border-top: white 10rem;
    background-color: #249ac7;
}
-----------Guide customer---------------*/

.guideContainer {
    background: #1a91c2;
    width: 100%;
}

.guideCustomer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 0 200px !important;
}

.circle {
    width: 250px; /* Adjust the size of your circles */
    height: 250px; /* Adjust the size of your circles */
    background-color: #007bb0; /* Circle background color */
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.guide-text{
    color: #ffffff;
    display: flex;
    width: max-content;
    flex-direction: row;
    height: 70px;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.number {
    font-size: 6rem;

}

.text {
    font-size: 1.5rem;
    line-height: 2.7;
    margin-left: -18px;
}
.text p {
    border: 2px solid black; /* You can adjust the border width and color */
    padding: 10px; /* Optional: Add padding to create space between text and border */
    display: inline-block;
}

#details-img{
    width: 160px;
}
#date-img{
    width: 130px;
}
#check-img{
    width: 184px;
    margin-top: 13%;
}
/* Cards */
.card-row {
    display: flex;
    width: 100%;

    height: max-content;
    justify-content: space-around;
    margin: 8% auto;
    padding: 0 5%;
}

.card {
    width: 30%;
    background-color: #007bb0;
    padding: 20px 27px;
    color: #F8F8F8;
    border-radius: 10px;
    box-shadow: 7px 7px 26px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card-title {
    font-size: 4.5rem;
    text-align: left;
    padding-left: inherit;
    font-family: "alkaline", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.card-text {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
    font-family: "myriad-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.card-bottom{
    font-size: 2.5rem;
    text-align: end;
    font-family: "myriad-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.footer{
    margin: 0 4px 40px 4px;
    background: #007bb0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow:
            0 -6px 5px rgba(0, 0, 0, 0.2),
            0 6px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    flex-direction: row; /* Reverse the order of image and text */
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.footer-text {
    padding: 1%;
    color: white;
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.map_img {
    width: 430px; /* Adjust the image width as needed */
    margin-right: 7%; /* Add some spacing between image and text */
}

.footer-contact-title {
    font-size: 2.5rem;
    margin-bottom: revert;
}

.footer-contact {
    font-size: 2rem;
}/**/
/* Media query for screens with a maximum width of 767px (typical mobile devices) */
@media (max-width: 767px) {
    /* .ui.secondary.menu{
        display: none;
    }
   header container*/

    #logo{
        width: 60%;
        display: flex;
        position: initial !important;
        margin: 0 auto;
        padding-left: 0;
    }
    .header-navbar{
        display: none;
    }
    .header-motto{
        display: none;
    }
    .header-filler {
        display: none;
    }
    #cash_img_container{
        display: none;
    }
    #motto{
        line-height: 55px;
        font-size: 2.5rem;
        padding: 0 30px;
    }
    .burger-menu{
        display: flex !important;

    }
    button.burger-menu.ui.segment.icon.button{
        margin: 30px;
    }

    /*form container*/
    .form_box {
        width: 80%; /* Make the form take up the full width */
    }

    .form_label {
        font-size: 1.2rem; /* Reduce label font size */
    }

    .form_input {
        width: 100%;
        height: 40px; /* Reduce input height */
        font-size: 1.6rem; /* Reduce input font size */
    }

    input[type="submit"] {
        width: 60%;
        font-size: 1.1rem;
        height: 45px;
        display: flex;
        justify-content: space-evenly;
    }
    /*user guide container*/

    .guideCustomer {
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
        /*margin-bottom: 137%;*/
    }

    .circle {
        margin-bottom: 20px;
    }

    .guideContainer {
        padding: 0;
    }
    /*card container*/

    .card-row {
        flex-direction: column;
        /* margin-bottom: 137%;*/
        align-items: center;
    }
    .card{
        width: 84%;
        margin-bottom: 20px;
    }
    .card-title{
        padding-left: initial;
    }

    /*Footer*/

    .footer-content{
        flex-direction: column;
    }
    .footer-contact-title{
        font-size: 1.5rem;
    }
    .footer-contact{
        font-size: 1.3rem;
    }

    .web-name{
        font-size: 1rem;
    }
    .map_img{
        width: 90%;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    /*header container
    .header-area.logo.four.wide.column{
        margin: 0 auto;
    }*/


    /*
    #logo {
        width: 100%;
        display: flex;
        position: initial !important;
        margin: 0 auto;
        padding-left: 0;
    }
    .logo{
        margin: 0 auto;
    }
    .header-navbar{
        display: none;
    }

    .header-filler{
        display: none;
    }
    .header-navbar{
        display: none;
    }
    .burger-menu{
        display: flex !important;
    }
*/

    #logo{
        width: 100%;
        display: flex;
        position: initial !important;
        margin: 0 auto;
        padding-left: 0;
    }
    .header-area.logo{
        margin: 0 auto;
    }
    .header-area{
        margin: 0 auto;
    }
    .header-navbar{
        display: none;
    }
    .header-motto{
        width: 110%;
        justify-content: center;
        padding: 10px !important;
    }
    .header-filler {
        display: none;
    }
    #cash_img_container{
        width: 6rem !important;

    }
    #motto{
        line-height: 55px;
        font-size: 2.5rem;
        padding: 0;
    }
    .burger-menu{
        display: flex !important;
        height: fit-content;

    }
    button.burger-menu.ui.segment.icon.button{
        margin: 30px;
    }

    /*Footer*/

    .footer-content{
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 950px){
    .guideCustomer {
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
        /*margin-bottom: 60%;*/
    }

    .circle {
        margin-bottom: 20px;
    }

    .guideContainer {
        padding: 0;
    }
    .text{
        font-size: 2.5rem;
    }
    .number{
        font-size: 8rem;
    }
    .card-row {
        flex-direction: column;
        /*margin-bottom: 60%;*/
        align-items: center;
    }
    .card{
        width: 84%;
        margin-bottom: 40px;
    }
    .card-title{
        padding-left: initial;
    }
}
@media (min-width: 950px) and (max-width: 1200px) {
    .guideCustomer{
        padding: 0 40px !important;
    }
    .card-row{
        padding: 0 3%;
        height: max-content;
    }
    .card{
        padding: 20px 15px;
    }
    .card-title{
        padding-left: initial;
    }
}

/*MOBILE VIEW

.mobile_img{
    width: 60%;
}
.mobile_logo{
    text-align: center;
}

.mobile_motto{
    font-family: 'Pacifico', cursive;
    color: #e52324;
    font-size: 2.5rem;
    text-align: center;
}
.mobile-menu a{
    font-weight: bold !important;
}*/


